<section class="grid w-full min-w-0 max-w-full gap-4 md:grid-cols-2 md:gap-x-6">
  <ng-container [formGroup]="form()">
    <app-client-details-form-field
      label="Typ klienta"
      forId="clientType"
      [showError]="showError('clientType')"
      errorMessage="Typ klienta jest wymagany."
      [fullWidth]="true"
    >
      <p-select
        inputId="clientType"
        [options]="clientTypes"
        optionLabel="label"
        optionValue="value"
        placeholder="Wybierz typ"
        formControlName="clientType"
        [fluid]="true"
      />
    </app-client-details-form-field>

    @if (form().controls.clientType.value === 'PERSON') {
      <app-client-details-person-fields [form]="form()" />
    }

    @if (form().controls.clientType.value === 'COMPANY') {
      <app-client-details-company-fields [form]="form()" />
    }

    <app-client-details-form-field
      label="Email"
      forId="email"
      [showError]="showError('email')"
      errorMessage="Podaj poprawny adres email."
      [fullWidth]="true"
    >
      <input
        id="email"
        pInputText
        type="email"
        placeholder="kontakt@test.com"
        formControlName="email"
        [fluid]="true"
      />
    </app-client-details-form-field>
  </ng-container>
</section>
